{% extends "base.html" %}
{% block content %}
  <h1>Muokkaa tarinaa {{story.name}}.</h1>

  <form method="update" action="{{base_path}}/story/{{story.id}}/edit">
    <div class="form-group">
      <label>Nimi</label>
      <input type="text" class="form-control" value="{{story.name}}">
    </div>
    <div class="form-group">
      <label>Kirjoittaja</label>
      <input type="text" class="form-control" value="TODO">
    </div>
    <div class="form-group">
      <label>Genre</label>
      <input type="text" class="form-control" value="{{story.genre}}">
    </div>
    <div class="form-group">
      <label>Kuvaus</label>
      <textarea class="form-control">{{story.synopsis}}</textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
  </form>
{% endblock %}