{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms%}

{% if message %}
<div class="alert alert-success">
	{{message}}
</div>
{% endif %}

{% if errors %}
<div class="alert alert-danger">
	<ul>
		{% for error in errors %}
		<li>{{error}}</li>
		{% endfor %}
	</ul>
</div>

<script type="text/javascript">
	window.onload = function(){
		childForm();
	};
</script>
{% endif %}

<h3>{{story.name}}</h3> 
<hr>
<h1>{{scene.name}}</h1>
<!-- Tiedot tulee tähän -->

<p>{{scene.situation}}</p>
<p>{{scene.question}}</p>
<!-- Vaihtehdot tähän listana -->

<ol>
	{% for link in child_links %}
	<li><a href="{{base_path}}/scene/{{link.child_scene_id}}">{{link.option_name}}</a></li>
	{% endfor %}
</ol>

<hr>
<p>
	<a href="{{base_path}}/story/{{story.id}}" class="btn btn-default">Palaa tarinan kuvaukseen</a>
</p>
	{% if user_logged_in.id == story.author_id %}
<hr>
<p>
	<div style="display: inline-block;">
		<button class="btn btn-success" onclick="childForm()">Lisää lapsi</button>
		<a href="{{base_path}}/scene/{{scene.id}}/new" class="btn btn-success">Luo uusi lapsi</a>
		<button class="btn btn-warning" onclick="childDeleteForm()">Poista lapsi</button>
		<a href="{{base_path}}/scene/{{scene.id}}/edit" class="btn btn-default">Muokkaa</a>
		{{forms.delete_button("#{base_path}/scene/#{scene.id}/delete")}}
	</div>
</p>
	{% endif %}


<form id="deleteChild" style="display: none;" method="post" action="{{base_path}}/scene/{{scene.id}}/delete/child">
	<hr><hr>
	<div class="form-group">
		<label>Lapsen nimi</label>
		<select name="scene_link_id" size="5" class="form-control">
			{% for child in child_links %}
			<option value="{{child.scene_link_id}}">{{child.name}}</option>
			{% endfor %}
		</select>
	</div>
	<div class="form-group">
		<input type="hidden" value="{{scene.id}}" name="parent_scene_id"></input>
		<button type="submit" class="btn btn-danger">Poista yhteys lapseen</button>
	</div>
</form>

<form id="newChild" style="display: none;" method="post" action="{{base_path}}/scene/existing">
	<hr><hr>
	<div class="form-group">
		<label>Lapsen nimi</label>
		<select name="child_scene_id" size="5" class="form-control">
			{% for scene in scenes %}
			<option value="{{scene.id}}">{{scene.name}}</option>
			{% endfor %}
		</select>
	</div>
	<div class="form-group">
		<label>Valinnan nimi</label>
		<input type="text" placeholder="esim. Avaa ovi 1." class="form-control" name="option_name" value="{{attributes.option_name}}">
	</div>
	<input type="hidden" name="parent_scene_id" value="{{scene.id}}"></input>
	<div>
		<button type="submit" class="btn btn-primary">Tallenna</button>
	</div>
</form>

<script>

	function childForm(){
		var x = document.getElementById("newChild");
		var y = document.getElementById("deleteChild");
		y.style.display = "none";
		if (x.style.display === "none") {
			x.style.display = "block";
		} else {
			x.style.display = "none";
		}
	}

	function childDeleteForm(){
		var x = document.getElementById("deleteChild");
		var y = document.getElementById("newChild");
		y.style.display = "none";
		if (x.style.display === "none"){
			x.style.display = "block";
		} else {
			x.style.display = "none";
		}
	}
</script>
{% endblock %}