{% extends "base.html" %}
{% block content %}
  <h1>Maze</h1>
  <!-- Painikkeet tähän -->
  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Kirjoittaja: </strong>J</li>
    <li><strong>Genre: </strong>Mysteeri </li>
    <li><strong>Lisäyspäivä:</strong> 9.12.2014</li>
  </ul>
  <!-- Kuvaus tulee tähän -->
  <p>
    You wake up in a strange room, with no memory on how or why you are there. You only see 4 doors around you and a compass at the center of the room. You feel a sense of urgency to get out, something is coming.
  </p>
  <button class="btn btn-success">Aloita lukeminen</button>
{% endblock %}