{% extends "base.html" %}

{% block content %}
<div class="page-header">
	<h1>Tervetuloa Xroadsiin!</h1>
</div>

<h3>Xroads on monipolkuisten tarinoiden lukemiseen ja kirjoittamiseen tarkoitettu sivusto.</h3>

<p>Hyödyllisiä linkkejä:</p>
<ul>
	{% if not user_logged_in %}
	<li><a href="{{base_path}}/login">Kirjaudu sisään!</a></li>
	{% endif %}
	<li><a href="{{base_path}}/story">Kaikki tarinat</a></li>  
	{% if user_logged_in %}
	<li><a href="{{base_path}}/story/author/{{user_logged_in.id}}">Omat tarinat</a></li>  
	{% endif %}
</ul>

{% endblock %}
